name: integration-tests
on: [push]
jobs:
  cypress-run:
    runs-on: ubuntu-16.04
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      # https://github.com/cypress-io/github-action
      - name: cypress run --record --key fb62e52b-3613-464c-b99e-f8df707ce320
        uses: cypress-io/github-action@v2
        with:
          record: true
          start: npm start
          working-directory: frontend
        env:
          # pass the Dashboard record key as an environment variable
          CYPRESS_RECORD_KEY: fb62e52b-3613-464c-b99e-f8df707ce320
