name: integration-tests
on: [push]
jobs:
  cypress-run:
    runs-on: ubuntu-16.04
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      # https://github.com/cypress-io/github-action
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          record: true
          start: npm run serve
          working-directory: frontend
        env:
          # pass the Dashboard record key as an environment variable
          CYPRESS_RECORD_KEY: 720edd9f-fe71-42a8-8149-41cedba18abb
